mock==3.0.5
msrest==0.6.13
msrestazure==0.6.3
mysql-connector-python-rf==2.2.2
ntlm-auth==1.4.0
oauthlib==2.0.6
peewee==3.9.5
pip==8.1.1
ply==3.11
psutil==5.6.7
pycparser==2.19
pycryptodome==3.9.8
pycryptodomex==3.9.6
PyJWT==1.5.3
pymysql==0.9.3
pyparsing==2.4.7
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.6.1