certifi==2017.7.27.1
# cffi==1.11.2
chardet==3.0.4
Click==7.0
cryptography==2.1.4
daemonize==2.5.0
docutils==0.16
flask==1.0
gremlinpython==3.4.10
IPy==1.1
idna==2.6
influxdb==5.2.2
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jmxquery==0.6.0
keyring==10.4.0
MarkupSafe==1.1.1